.hero {
  --border-radius: 8px;
  --transition-duration: 800ms;
  position: relative;
  width: 100%;
  height: 100vh;
}
.hero__fullsize {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}
.hero__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: drop-shadow(0 5px 5px #0007);
  transition: top var(--transition-duration), left var(--transition-duration),
    width var(--transition-duration), height var(--transition-duration),
    border-radius var(--transition-duration),
    transform var(--transition-duration), opacity var(--transition-duration);
}
.hero__content--hidden {
  visibility: hidden;
  transition: none;
  transform: none;
  opacity: 1;
  z-index: 0;
}
.hero__content--bottom {
  opacity: 0;
  transform: scale(1.5);
  z-index: 1;
}
.hero__content--top {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  z-index: 2;
}
.hero__content--show-text::before {
  transform: translateX(0);
  transition: transform 300ms;
}
.hero__content--grow::before {
  transform: translateX(-100%);
  transition: none;
}
.hero__content--show-text .content__title {
  transform: translateY(0);
  transition: transform 100ms;
}
.hero__content--show-text .content__title .word {
  clip-path: inset(0);
  transition: clip-path 100ms;
}
.hero__content--grow .content__title {
  visibility: hidden;
  transform: translateY(48px);
  transition: none;
}
.hero__content--grow .content__title .word {
  clip-path: inset(0 0 48px);
  transition: none;
}
.hero__content--show-text .content__desc {
  transform: translateY(0px);
  transition: transform 100ms;
}
.hero__content--show-text .content__desc .word {
  clip-path: inset(0);
  transition: clip-path 100ms;
}
.hero__content--grow .content__desc {
  visibility: hidden;
  transform: translateY(18px);
  transition: none;
}
.hero__content--grow .content__desc .word {
  clip-path: inset(0 0 18px);
  transition: none;
}
.hero__swiper {
  position: absolute;
  width: 70%;
  right: 0px;
  bottom: 50px;
  padding: 15px 0 60px;
  z-index: 1;
  user-select: none;
}
.swiper_main .swiper {
  --swiper-navigation-size: 20px;
  visibility: hidden;
}
.swiper_main .swiper.swiper-initialized {
  visibility: visible;
}
.swiper_main .swiper-slide-prev,
.swiper_main .swiper-slide-active {
  opacity: 0;
}
.swiper_main .swiper-slide {
  display: flex;
  max-height: 300px;
  height: 300px;
}
.swiper_main .content {
  display: flex;
  position: relative;
  width: 100%;
  filter: drop-shadow(0 5px 5px #0007);
  overflow: hidden;
  z-index: 0;
}
.swiper_main .content--slide {
  position: relative;
  border-radius: var(--border-radius, 0);
}
.swiper_main .content__text {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #fff;
  justify-content: flex-end;
  padding-bottom: 100px;
}
.swiper_main .swiper-slide .content__text {
  padding-bottom: 0;
}
.swiper_main .content__desc {
  margin: 0;
}
.swiper_main .content--slide .content__title {
  font-size: 16px;
  margin: auto 0 0;
  padding: 0.35em 0.75em;
  font-family: "proxima_novaextrabold";
  background: #000000a3;
}
.content__title {
  font-family: "proxima_novablack";
}
.content__desc {
  font-family: "proxima_novaregular";
}
.swiper_main .content--slide .content__desc {
  position: absolute;
  left: 0;
  visibility: hidden;
}
.swiper_main .content--hero {
  padding: 100px 50px 0;
  position: absolute;
  border-radius: 0;
}
.swiper_main .content--hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, hsl(49deg 70% 5% / 67%), transparent);
  pointer-events: none;
  z-index: -1;
}
.swiper_main .content--hero .content__title {
  font-size: 42px;
  margin: 0 0 0.2em;
}
.swiper_main .content--hero .content__text {
  width: 45%;
}
.swiper_main .content__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
.autoplay-progress {
  position: fixed;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 2px;
  color: #eac366;
}
.autoplay-progress .progress-bar {
  --progress: 0;
  z-index: 10;
  height: 2px;
  background: #eac366;
}
.swiper_main .swiper-button-prev,
.swiper_main .swiper-button-next {
  bottom: 0px;
  top: unset;
  left: 40%;
  right: unset;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.swiper_main .swiper-button-next {
  left: 50%;
}
@media (max-width: 992px) {
  .swiper_main .swiper-slide {
    height: 220px;
  }
}
@media (max-width: 767px) {
  .hero__swiper {
    bottom: 110px;
  }
  .swiper_main .content--hero {
    padding: 100px 30px 0;
  }
  .content.hero__content .content__desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .swiper_main .content--slide .content__title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .swiper_main .swiper-button-next {
    left: 60%;
  }
  .swiper_main .content--slide {
    border-radius: 5px;
  }
}
@media (max-width: 575px) {
  .swiper_main .content--hero {
    padding: 100px 20px 0;
  }
  .swiper_main .swiper-slide {
    height: 170px;
  }
  .swiper_main .swiper-button-next {
    left: 65%;
  }
  .hero {
    height: 450px;
  }
  .swiper_main .content--hero .content__title {
    font-size: 25px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .swiper_main .content__text {
    padding-bottom: 70px;
  }
  .hero__swiper {
    bottom: 20px;
  }
  .swiper_main .content--slide .content__title {
    font-size: 12px;
    padding: 0.35em 0.75em 0;
  }
  .content.hero__content .content__desc {
    font-size: 12px;
  }
  .swiper_main .swiper-button-prev,
  .swiper_main .swiper-button-next {
    width: 35px;
    height: 35px;
  }
  .swiper_main .swiper-button-next:after,
  .swiper_main .swiper-button-prev:after {
    font-size: 16px;
  }
}
