.home .header-main {
  background-color: transparent;
  z-index: 9;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.home .home_hero_slider {
  width: 100%;
}
.home_slider_title {
  font-family: "proxima_novablack";
  font-size: 53px;
  font-style: italic;
  text-transform: capitalize;
}
.home_slider_title,
.home .overview {
  max-width: 60%;
}
.home .overview {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.home_slider_title,
.home .media_type,
.home .overview,
.home .release_date {
  z-index: 9;
  padding-left: 100px;
  position: relative;
}
.home .learn_more {
  z-index: 9;
  position: relative;
  margin-left: 100px;
  color: #eac56b;
  width: 150px;
  display: flex;
  border: 1px solid #eac56b;
  padding: 5px 0;
  border-radius: 5px;
  margin-bottom: 100px;
  align-items: center;
  justify-content: center;
}
.home .learn_more:hover {
  color: #2c2d30;
  background-color: #eac56b;
  border: 1px solid #2c2d30;
}
.home_slider_title span {
  font-size: 35px;
}
.show_more_btn_main {
  text-align: right;
}
.show_more_btn {
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  background-color: #2c2d30;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 10px;
  display: inline-block;
}
.show_more_btn a {
  -ms-transform: skewX(20deg);
  color: #eac56b;
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
  display: inline-block;
}
.show_more_btn:hover {
  background-color: #eac56b;
}
.show_more_btn:hover a {
  color: #2c2d30;
}
.home .card_wrapper,
.home .tv_series_wrapper,
.home .discover_wrapper {
  display: flex;
  flex-wrap: nowrap !important;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.moviecard {
  flex: 0 0 auto;
}
.home .card_wrapper::-webkit-scrollbar,
.home .tv_series_wrapper::-webkit-scrollbar,
.home .discover_wrapper::-webkit-scrollbar {
  display: none;
}
.home .card_wrapper:hover::-webkit-scrollbar,
.home .tv_series_wrapper:hover::-webkit-scrollbar,
.home .discover_wrapper:hover::-webkit-scrollbar {
  display: block;
  position: absolute !important;
  bottom: 0;
}
.home .card_wrapper::-webkit-scrollbar,
.home .tv_series_wrapper::-webkit-scrollbar,
.home .discover_wrapper::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: transparent;
}
.moviecard {
  padding: 5px;
}
.home .moviecard_main {
  padding: 0 0px 20px 0px;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: #eac56b;
}
.home .release_date b {
  font-weight: 100;
}
/* Responsive css */
@media (max-width: 991px) {
  body.home {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  .home_slider_title {
    padding-left: 40px;
    max-width: 90%;
    font-size: 43px;
  }
  .home .overview {
    max-width: 90%;
  }
  .home .overview {
    -webkit-line-clamp: 2;
  }
  .home_slider_title,
  .home .media_type,
  .home .overview,
  .home .release_date {
    padding-left: 40px;
  }
  .home .learn_more {
    margin-left: 40px;
  }
  .home_slider_title span {
    font-size: 25px;
  }
  .moviecard {
    margin: 5px 0px;
  }
  .home_hero_slider .swiper-slide div {
    min-width: 100vw !important;
    width: 100vw !important;
    min-height: auto !important;
    height: calc(100vw / 1.422222) !important;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 26px;
  }
  .home .learn_more {
    margin-bottom: 40px;
  }
}
@media (max-width: 575px) {
  .home_slider_title {
    max-width: 90%;
    font-size: 33px;
    line-height: 31px;
  }
  .home .learn_more {
    margin-bottom: 20px;
  }
  .home .overview,
  .home .release_date b {
    display: none;
  }
}
